@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Eu sou o melhor programador do Mundo!!!!.</p>
<p>@ViewData["Developer"]</p>
<address>
    <p>Email: thiago.henrique@swif.com.br</p>
    <strong>More information: </strong> <a href="swif.com.br">SwiF Techology Agency</a>
</address>